@font-face {
  font-family: ubuntu-regular;
  src: url(fonts/Ubuntu-Regular.ttf);
}


@media (prefers-color-scheme: light) {
  :root {
    --main-color: #fff;
    --accent-color: #000;
  }
  .gradient-background {
    background: linear-gradient(to bottom right, red, yellow);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #000;
    --accent-color: #fff;
  }
  .gradient-background {
    background: linear-gradient(to top left, #47c8ff, #90EE90);
  }
}


html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  font-size: x-large;
  margin-top: 15vh;
  height: 100%;
  background: var(--main-color);
  color: var(--accent-color);
}


.gradient-background {
  min-height: 100%;
  height: auto;
  /* background: linear-gradient(to right, red, yellow); */
  border-radius: 20px;
  padding: 1%;
  vertical-align: middle;
}

.content-wrapper {
  padding: 4%;
  background: var(--main-color);
  color: var(--accent-color);
  border-radius: 10px;
}

h1 {
  margin: -5px;
  color: var(--accent-color);
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

span a {
  background: -webkit-linear-gradient(top left, yellow, violet, orange, rgb(2, 193, 2), rgb(0, 102, 255),rgb(190, 190, 2), violet, rgb(2, 193, 2), orange, red, yellow);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}


p {
  /* width: 70% */
}

li {
  display: inline;
  margin: 1vw;
  width: 50%;
}

.body-footer {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: -5vh;
  color: var(--accent-color)
}